.content_section {
    float: left;
    margin: 50px 100px auto 150px;
    width: 20%;
}

/* .content_section .profile_section {
    float: left;
} */

.content_section .profileImg {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.content_section .profile_info_section .editBtn {
    border: none;
    outline: none;
    background: none;
    margin-left: 150px;
}

.content_section .profile_info_section .editInfo_btnImg {
    width: 100px;
}

.content_section .profile_info_section {
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
}

.content_section .profile_info_section b{
    font-weight: 700;
    font-size: 15px;
}

.history_section .search_box {
    margin-top: 55px;
    width: 50%;
    height: 400px;
    float: left;
    border: 2px solid #4A90E2;
    background-color: #ffffff;
    border-radius: 10px;
}

.exImg {
    width: 150px;
    margin-top: 50px;
    margin-left: 5px;
}

.footerImg {
    text-align: center;
}